<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <h2 class="side-nav-header">Question History</h2>
      <ul>
        <h4 *ngFor="let question of pastQuestions">{{ question }}</h4>
      </ul>
    </mat-sidenav>

  <mat-sidenav-content>
    <div class="app-container">
      <h1>Q&A Interface</h1>

      <div class="results-container">
        <app-question-list [results]="results"></app-question-list>
        <div *ngIf="loading" class="loading-spinner">Loading...</div>
        <div *ngIf="error" class="error-message">An error occurred while fetching results.</div>
      </div>

      <app-question-input (querySubmitted)="onQuerySubmitted($event)"></app-question-input>
      <h2 *ngIf="results.length > 0">You can also search</h2>
      <ul>
        <li *ngFor="let question of otherQuestions">
          {{ question }}
        </li>
      </ul>
      
      
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>